body {
  margin: 0;
  font-family: "poppins", sans-serif;
}
.top-container {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
  
}
section {
  height: 650px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 0px;
}
a.link-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 46, 105);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.half-width img {
  width: 80%;
  margin-top: 100px;
}
.first-half {
  width: 40%;
  float: left;
  padding-left: 250px;
  padding-top: 200px;
}
p {
  padding-bottom: 20px;
  color: rgb(126, 119, 119);
}
h1 {
  color: rgb(57, 57, 57);
}
h2 {
  color: rgb(243, 46, 105);
  font-size: 35px;
}
.half-widthh {
  float: left;
  width: 40%;
  margin-left: 180px;
}
.first-halff {
  float: left;
  width: 40%;
}
.half-widthh img {
  width: 80%;
  margin-top:30px;
}
.margind {
  margin-top: 150px;
}
.bagd {
  background-color: rgb(247, 247, 247);
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60px;
}
.fls {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 40px;
}
.prs img {
  width: 25%;
  float: left;
  margin-left: 100px;
  

}
footer {
  text-align: center;
}